# Reshaping, Reorganizing and Aggregation

In [1]:
# import pandas and NumPy
import pandas as pd
import numpy as np

# date and time functions
import datetime

# bring in matplotlib and draw inline
import matplotlib.pyplot as plt
%matplotlib inline

# Set some Pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 8)
pd.set_option('precision', 3)

## Loading historical stock data from the web or from files

### From Web

In [2]:
# for the DataReader
import pandas.io.data as web

# start end end dates
start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2012, 12, 30)

# load the data
msft = web.DataReader("MSFT", 'yahoo', start, end)
aapl = web.DataReader("AAPL", 'yahoo', start, end)

/Users/kevin/python/anaconda/envs/timbr/lib/python2.7/site-packages/pandas/io/data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [3]:
# these save the data to file - optional for the examples
#msft.to_csv("msft.csv")
#aapl.to_csv("aapl.csv")

### From file

In [4]:
# read the Microsoft and Apple data from file
msft = pd.read_csv("msft.csv", index_col=0, parse_dates=True)
aapl = pd.read_csv("aapl.csv", index_col=0, parse_dates=True)

In [5]:
msft

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     23.462
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.014
2012-01-05  27.38  27.73  27.29  27.68  56081400     24.259
2012-01-06  27.53  28.19  27.53  28.11  99455500     24.636
...           ...    ...    ...    ...       ...        ...
2012-12-24  27.20  27.25  27.00  27.06  20842400     24.387
2012-12-26  27.03  27.20  26.70  26.86  31631100     24.206
2012-12-27  26.89  27.09  26.57  26.96  39394000     24.297
2012-12-28  26.71  26.90  26.55  26.55  28239900     23.927

[249 rows x 6 columns]

### Organizing the data for the examples

In [6]:
msft[:3]

             Open   High    Low  Close    Volume  Adj Close
Date
2012-01-03  26.55  26.96  26.39  26.77  64731500     23.462
2012-01-04  26.82  27.47  26.78  27.40  80516100     24.014
2012-01-05  27.38  27.73  27.29  27.68  56081400     24.259

In [8]:
aapl[:3]

              Open    High     Low   Close    Volume  Adj Close
Date
2012-01-03  409.40  412.50  409.00  411.23  75555200     53.785
2012-01-04  410.00  414.68  409.28  413.44  65005500     54.074
2012-01-05  414.95  418.55  412.67  418.03  67817400     54.674

# Reorganizing and reshaping data

## Concatenating data in Multiple DataFrame objects

In [9]:
# get MSFT adjusted close data for Jan and Feb 2012
msftA01 = msft['2012-01'][['Adj Close']]
msftA02 = msft['2012-02'][['Adj Close']]
msftA01[:3]

            Adj Close
Date
2012-01-03     23.462
2012-01-04     24.014
2012-01-05     24.259

In [10]:
msftA02[:3]

            Adj Close
Date
2012-02-01     26.196
2012-02-02     26.249
2012-02-03     26.503

In [11]:
# combine the first three rows of each of msftA01 and msftA02
pd.concat([msftA01.head(3), msftA02.head(3)])

            Adj Close
Date
2012-01-03     23.462
2012-01-04     24.014
2012-01-05     24.259
2012-02-01     26.196
2012-02-02     26.249
2012-02-03     26.503

In [12]:
# Extract only the Jan 2012 AAPL values.  
aaplA01 = aapl['2012-01'][['Adj Close']]
# now concat the AAPL and MSFT Jan 2012 data
# there will be duplicate index labels
withDups = pd.concat([msftA01[:3], aaplA01[:3]])
withDups

            Adj Close
Date
2012-01-03     23.462
2012-01-04     24.014
2012-01-05     24.259
2012-01-03     53.785
2012-01-04     54.074
2012-01-05     54.674

In [10]:
# show the two records for data of 2012-01-03
withDups.ix['2012-01-03']

            Adj Close
Date
2012-01-03      24.42
2012-01-03      55.41

In [13]:
# demonstrate concat with a specification of the 
# stock tickets being part of the index
# this help disambiguate the duplicate dates using
# a hierarchal index
closes = pd.concat([msftA01[:3], aaplA01[:3]], 
                    keys=['MSFT', 'AAPL'])
closes

                 Adj Close
     Date
MSFT 2012-01-03     23.462
     2012-01-04     24.014
     2012-01-05     24.259
AAPL 2012-01-03     53.785
     2012-01-04     54.074
     2012-01-05     54.674

In [14]:
# extract just MSFT values using .ix
closes.ix['MSFT'][:3]

            Adj Close
Date
2012-01-03     23.462
2012-01-04     24.014
2012-01-05     24.259

In [15]:
# demonstrate concatenation using two DataFrame's
# that each have two columns.  pandas will align the
# data in columns by the column names (labels)
msftAV = msft[['Adj Close', 'Volume']]
aaplAV = aapl[['Adj Close', 'Volume']]
pd.concat([msftAV, aaplAV])

            Adj Close     Volume
Date
2012-01-03     23.462   64731500
2012-01-04     24.014   80516100
2012-01-05     24.259   56081400
2012-01-06     24.636   99455500
...               ...        ...
2012-12-24     68.637   43938300
2012-12-26     67.691   75609100
2012-12-27     67.963  113780100
2012-12-28     67.241   88569600

[498 rows x 2 columns]

In [16]:
# demonstrate concatenation with DataFrame objects
# that do not have the same set of columns
# this demonstrates pandas filling in NaN values
aaplA = aapl[['Adj Close']]
pd.concat([msftAV, aaplA])

            Adj Close     Volume
Date
2012-01-03     23.462  6.473e+07
2012-01-04     24.014  8.052e+07
2012-01-05     24.259  5.608e+07
2012-01-06     24.636  9.946e+07
...               ...        ...
2012-12-24     68.637        NaN
2012-12-26     67.691        NaN
2012-12-27     67.963        NaN
2012-12-28     67.241        NaN

[498 rows x 2 columns]

In [17]:
# perform an inner join on the DataFrame's
# since aaplA does not have a Volume column, pandas
# will not include that column in the result
pd.concat([msftAV, aaplA], join='inner')

            Adj Close
Date
2012-01-03     23.462
2012-01-04     24.014
2012-01-05     24.259
2012-01-06     24.636
...               ...
2012-12-24     68.637
2012-12-26     67.691
2012-12-27     67.963
2012-12-28     67.241

[498 rows x 1 columns]

In [18]:
# concat along the rows, causing duplicate columns to
# be created in the result
msftA = msft[['Adj Close']]
closes = pd.concat([msftA, aaplA], axis=1)
closes[:3]

            Adj Close  Adj Close
Date
2012-01-03     23.462     53.785
2012-01-04     24.014     54.074
2012-01-05     24.259     54.674

In [19]:
# concat along rows using two DataFrame objects with
# different number of rows. This demonstrates how
# NaN values will be filled in those rows for AAPL
# which only hase three rows as compared to 5 for MSFT
pd.concat([msftAV[:5], aaplAV[:3]], axis=1,
          keys=['MSFT', 'AAPL'])

                MSFT                AAPL
           Adj Close    Volume Adj Close     Volume
Date
2012-01-03    23.462  64731500    53.785  7.556e+07
2012-01-04    24.014  80516100    54.074  6.501e+07
2012-01-05    24.259  56081400    54.674  6.782e+07
2012-01-06    24.636  99455500       NaN        NaN
2012-01-09    24.312  59706800       NaN        NaN

In [20]:
# inner join can also be used along this axis
# this will not include rows with index labels that do
# not exist in both DataFrame objects
pd.concat([msftA[:5], aaplA[:3]], axis=1,
          join='inner', keys=['MSFT', 'AAPL'])

                MSFT      AAPL
           Adj Close Adj Close
Date
2012-01-03    23.462    53.785
2012-01-04    24.014    54.074
2012-01-05    24.259    54.674

In [21]:
# ignore indexes and just concatenate the data and
# have the result have a default integer index
pd.concat([msftA[:3], aaplA[:3]], ignore_index=True)

   Adj Close
0     23.462
1     24.014
2     24.259
3     53.785
4     54.074
5     54.674

## Merging DataFrame objects

In [22]:
# we will merge these two DataFrame objects, 
# so lets peek at the data to remind ourselves
# of what they contain
msftAR = msftA.reset_index()
msftVR = msft[['Volume']].reset_index()
msftAR[:3]

        Date  Adj Close
0 2012-01-03     23.462
1 2012-01-04     24.014
2 2012-01-05     24.259

In [23]:
msftVR[:3]

        Date    Volume
0 2012-01-03  64731500
1 2012-01-04  80516100
2 2012-01-05  56081400

In [24]:
# merge the two.  pandas finds the columns in common,
# in this case Date, and merges on that column and adds
# a column for all the other columns in both DataFrame's
msftCVR = pd.merge(msftAR, msftVR)
msftCVR[:5]

        Date  Adj Close    Volume
0 2012-01-03     23.462  64731500
1 2012-01-04     24.014  80516100
2 2012-01-05     24.259  56081400
3 2012-01-06     24.636  99455500
4 2012-01-09     24.312  59706800

In [27]:
# we will demonstrate join semantics using this DataFrame
msftAR0_5 = msftAR[0:5]
msftAR0_5

        Date  Adj Close
0 2012-01-03     23.462
1 2012-01-04     24.014
2 2012-01-05     24.259
3 2012-01-06     24.636
4 2012-01-09     24.312

In [28]:
# and also this one
msftVR2_4 = msftVR[2:4]
msftVR2_4

        Date    Volume
2 2012-01-05  56081400
3 2012-01-06  99455500

In [29]:
# merge semantics using default inner join
pd.merge(msftAR0_5, msftVR2_4)

        Date  Adj Close    Volume
0 2012-01-05     24.259  56081400
1 2012-01-06     24.636  99455500

In [30]:
# same joing but using
pd.merge(msftAR0_5, msftVR2_4, how='outer')

        Date  Adj Close     Volume
0 2012-01-03     23.462        NaN
1 2012-01-04     24.014        NaN
2 2012-01-05     24.259  5.608e+07
3 2012-01-06     24.636  9.946e+07
4 2012-01-09     24.312        NaN

## Pivoting

In [31]:
# need to insert Symbol column before combining
msft.insert(0, 'Symbol', 'MSFT')
aapl.insert(0, 'Symbol', 'AAPL')

# concatenate the MSFT and AAPL data
# index will consist of the Date column, which we will sort
combined = pd.concat([msft, aapl]).sort_index()

# this pushes the index into a column and resets to a 
# default integer index
s4p = combined.reset_index();
s4p[:5]

        Date Symbol    Open    High     Low   Close    Volume  Adj Close
0 2012-01-03   MSFT   26.55   26.96   26.39   26.77  64731500     23.462
1 2012-01-03   AAPL  409.40  412.50  409.00  411.23  75555200     53.785
2 2012-01-04   MSFT   26.82   27.47   26.78   27.40  80516100     24.014
3 2012-01-04   AAPL  410.00  414.68  409.28  413.44  65005500     54.074
4 2012-01-05   MSFT   27.38   27.73   27.29   27.68  56081400     24.259

In [32]:
# pivot Date into the Index, make the columns match the
# unique values in the Symbol column, and the values 
# will be the AdjClose values
closes = s4p.pivot(index='Date', columns='Symbol', 
                   values='Adj Close')
closes[:3]

Symbol        AAPL    MSFT
Date
2012-01-03  53.785  23.462
2012-01-04  54.074  24.014
2012-01-05  54.674  24.259

## Stacking and Unstacking

In [33]:
# stack the first level of columns into the index
# essentially, moves AAPL and MSFT into the index
# leaving a single colum which is the AdjClose values
stackedCloses = closes.stack()
stackedCloses

Date        Symbol
2012-01-03  AAPL      53.785
            MSFT      23.462
2012-01-04  AAPL      54.074
            MSFT      24.014
                       ...
2012-12-27  AAPL      67.963
            MSFT      24.297
2012-12-28  AAPL      67.241
            MSFT      23.927
dtype: float64

In [34]:
# using .ix we can retrieve close values by
# specifying both the date and ticker
stackedCloses.ix['2012-01-03', 'AAPL']

53.784500000000001

In [35]:
# lookup on just the date, which will give us two values
# one each for AAPL and MSFT.  
stackedCloses.ix['2012-01-03']

Symbol
AAPL    53.785
MSFT    23.462
dtype: float64

In [36]:
# this looks up all values for the MSFT symbol
stackedCloses.ix[:, 'MSFT']

Date
2012-01-03    23.462
2012-01-04    24.014
2012-01-05    24.259
2012-01-06    24.636
               ...
2012-12-24    24.387
2012-12-26    24.206
2012-12-27    24.297
2012-12-28    23.927
dtype: float64

In [37]:
# pivots the last level of the index back into a column
unstackedCloses = stackedCloses.unstack()
unstackedCloses[:3]

Symbol        AAPL    MSFT
Date
2012-01-03  53.785  23.462
2012-01-04  54.074  24.014
2012-01-05  54.674  24.259

## Melting

In [38]:
# melt making id_vars of Date and Symbol, making the 
# column names the variable and the for each the value
melted = pd.melt(s4p, id_vars=['Date', 'Symbol'])
melted[:5]

        Date Symbol variable   value
0 2012-01-03   MSFT     Open   26.55
1 2012-01-03   AAPL     Open  409.40
2 2012-01-04   MSFT     Open   26.82
3 2012-01-04   AAPL     Open  410.00
4 2012-01-05   MSFT     Open   27.38

In [39]:
# extract the values for the data for MSFT on 2012-01-03
melted[(melted.Date=='2012-01-03') & (melted.Symbol=='MSFT')]

           Date Symbol   variable      value
0    2012-01-03   MSFT       Open  2.655e+01
498  2012-01-03   MSFT       High  2.696e+01
996  2012-01-03   MSFT        Low  2.639e+01
1494 2012-01-03   MSFT      Close  2.677e+01
1992 2012-01-03   MSFT     Volume  6.473e+07
2490 2012-01-03   MSFT  Adj Close  2.346e+01

# Grouping and aggregation

## Splitting

In [40]:
# construct a DataFrame to demonstrate splitting
# extract from combined the Symbol and AdjClose, and reset the index
s4g = combined[['Symbol', 'Adj Close']].reset_index()
# now, add two columns, year and month, using the year and month
# portions of the data as integers
s4g.insert(1, 'Year', pd.DatetimeIndex(s4g['Date']).year)
s4g.insert(2, 'Month',pd.DatetimeIndex(s4g['Date']).month)
s4g[:5]

        Date  Year  Month Symbol  Adj Close
0 2012-01-03  2012      1   MSFT     23.462
1 2012-01-03  2012      1   AAPL     53.785
2 2012-01-04  2012      1   MSFT     24.014
3 2012-01-04  2012      1   AAPL     54.074
4 2012-01-05  2012      1   MSFT     24.259

In [41]:
# group by the Symbol column
s4g.groupby('Symbol')

In [42]:
# group again, but save the result this time
grouped = s4g.groupby('Symbol')
# the groupby object has a property groups, which shows how
# all rows will in mapped into the groups.   
# the type of this object is a python dict
type(grouped.groups)

dict

In [43]:
# show the mappings of rows to groups
grouped.groups

{'AAPL': [1,
  3,
  5,
  7,
  9,
  11,
  13,
  14,
  16,
  18,
  20,
  23,
  25,
  27,
  29,
  30,
  33,
  34,
  37,
  38,
  41,
  43,
  45,
  46,
  48,
  50,
  53,
  54,
  56,
  58,
  61,
  63,
  64,
  67,
  69,
  71,
  72,
  75,
  77,
  79,
  81,
  82,
  84,
  86,
  89,
  91,
  92,
  94,
  97,
  99,
  100,
  102,
  104,
  107,
  109,
  111,
  112,
  114,
  116,
  118,
  120,
  123,
  125,
  126,
  128,
  130,
  132,
  134,
  137,
  138,
  140,
  143,
  145,
  146,
  148,
  150,
  153,
  155,
  156,
  159,
  161,
  162,
  165,
  166,
  169,
  171,
  173,
  175,
  176,
  179,
  181,
  183,
  184,
  186,
  189,
  190,
  193,
  195,
  197,
  199,
  200,
  203,
  205,
  207,
  209,
  211,
  212,
  214,
  216,
  219,
  221,
  223,
  224,
  227,
  228,
  230,
  232,
  234,
  237,
  238,
  240,
  242,
  244,
  247,
  248,
  250,
  252,
  254,
  257,
  259,
  261,
  263,
  265,
  267,
  269,
  271,
  273,
  275,
  277,
  278,
  280,
  282,
  285,
  287,
  289,
  290,
  293,
  295,
  296,
  298,
  301,
  302,
  305,
  307,
  308,
  310,
  312,
  314,
  316,
  318,
  321,
  322,
  324,
  327,
  328,
  331,
  333,
  335,
  337,
  338,
  340,
  343,
  344,
  347,
  348,
  350,
  353,
  354,
  357,
  359,
  361,
  363,
  364,
  367,
  368,
  370,
  372,
  375,
  377,
  379,
  380,
  382,
  385,
  386,
  389,
  391,
  393,
  395,
  396,
  398,
  401,
  402,
  405,
  407,
  409,
  410,
  412,
  414,
  417,
  419,
  420,
  423,
  425,
  427,
  428,
  431,
  432,
  434,
  436,
  439,
  441,
  443,
  444,
  447,
  448,
  451,
  452,
  455,
  456,
  458,
  460,
  463,
  464,
  466,
  468,
  471,
  472,
  474,
  476,
  478,
  480,
  482,
  484,
  487,
  488,
  490,
  492,
  494,
  497],
 'MSFT': [0,
  2,
  4,
  6,
  8,
  10,
  12,
  15,
  17,
  19,
  21,
  22,
  24,
  26,
  28,
  31,
  32,
  35,
  36,
  39,
  40,
  42,
  44,
  47,
  49,
  51,
  52,
  55,
  57,
  59,
  60,
  62,
  65,
  66,
  68,
  70,
  73,
  74,
  76,
  78,
  80,
  83,
  85,
  87,
  88,
  90,
  93,
  95,
  96,
  98,
  101,
  103,
  105,
  106,
  108,
  110,
  113,
  115,
  117,
  119,
  121,
  122,
  124,
  127,
  129,
  131,
  133,
  135,
  136,
  139,
  141,
  142,
  144,
  147,
  149,
  151,
  152,
  154,
  157,
  158,
  160,
  163,
  164,
  167,
  168,
  170,
  172,
  174,
  177,
  178,
  180,
  182,
  185,
  187,
  188,
  191,
  192,
  194,
  196,
  198,
  201,
  202,
  204,
  206,
  208,
  210,
  213,
  215,
  217,
  218,
  220,
  222,
  225,
  226,
  229,
  231,
  233,
  235,
  236,
  239,
  241,
  243,
  245,
  246,
  249,
  251,
  253,
  255,
  256,
  258,
  260,
  262,
  264,
  266,
  268,
  270,
  272,
  274,
  276,
  279,
  281,
  283,
  284,
  286,
  288,
  291,
  292,
  294,
  297,
  299,
  300,
  303,
  304,
  306,
  309,
  311,
  313,
  315,
  317,
  319,
  320,
  323,
  325,
  326,
  329,
  330,
  332,
  334,
  336,
  339,
  341,
  342,
  345,
  346,
  349,
  351,
  352,
  355,
  356,
  358,
  360,
  362,
  365,
  366,
  369,
  371,
  373,
  374,
  376,
  378,
  381,
  383,
  384,
  387,
  388,
  390,
  392,
  394,
  397,
  399,
  400,
  403,
  404,
  406,
  408,
  411,
  413,
  415,
  416,
  418,
  421,
  422,
  424,
  426,
  429,
  430,
  433,
  435,
  437,
  438,
  440,
  442,
  445,
  446,
  449,
  450,
  453,
  454,
  457,
  459,
  461,
  462,
  465,
  467,
  469,
  470,
  473,
  475,
  477,
  479,
  481,
  483,
  485,
  486,
  489,
  491,
  493,
  495,
  496]}

In [44]:
# these report the number of groups that resulted from
# the grouping
len(grouped), grouped.ngroups

(2, 2)

In [45]:
# this function will print the contents of a group
def print_groups (groupobject):
    for name, group in groupobject:
        print name
        print group.head()

In [46]:
# examine our resulting groups
print_groups(grouped)

AAPL
        Date  Year  Month Symbol  Adj Close
1 2012-01-03  2012      1   AAPL     53.785
3 2012-01-04  2012      1   AAPL     54.074
5 2012-01-05  2012      1   AAPL     54.674
7 2012-01-06  2012      1   AAPL     55.245
9 2012-01-09  2012      1   AAPL     55.158
MSFT
        Date  Year  Month Symbol  Adj Close
0 2012-01-03  2012      1   MSFT     23.462
2 2012-01-04  2012      1   MSFT     24.014
4 2012-01-05  2012      1   MSFT     24.259
6 2012-01-06  2012      1   MSFT     24.636
8 2012-01-09  2012      1   MSFT     24.312

In [47]:
# .size will tell us the count of items in each group
grouped.size()

Symbol
AAPL    249
MSFT    249
dtype: int64

In [48]:
# a specific group can be retrieved using .get_group()
# which returns a DataFrame representing the specified group
grouped.get_group('MSFT')

          Date  Year  Month Symbol  Adj Close
0   2012-01-03  2012      1   MSFT     23.462
2   2012-01-04  2012      1   MSFT     24.014
4   2012-01-05  2012      1   MSFT     24.259
6   2012-01-06  2012      1   MSFT     24.636
..         ...   ...    ...    ...        ...
491 2012-12-24  2012     12   MSFT     24.387
493 2012-12-26  2012     12   MSFT     24.206
495 2012-12-27  2012     12   MSFT     24.297
496 2012-12-28  2012     12   MSFT     23.927

[249 rows x 5 columns]

In [50]:
# group by three different fields and print the result
mcg = s4g.groupby(['Symbol', 'Year', 'Month'])
print_groups(mcg)

('AAPL', 2012, 1)
        Date  Year  Month Symbol  Adj Close
1 2012-01-03  2012      1   AAPL     53.785
3 2012-01-04  2012      1   AAPL     54.074
5 2012-01-05  2012      1   AAPL     54.674
7 2012-01-06  2012      1   AAPL     55.245
9 2012-01-09  2012      1   AAPL     55.158
('AAPL', 2012, 2)
         Date  Year  Month Symbol  Adj Close
41 2012-02-01  2012      2   AAPL     59.665
43 2012-02-02  2012      2   AAPL     59.525
45 2012-02-03  2012      2   AAPL     60.121
46 2012-02-06  2012      2   AAPL     60.682
48 2012-02-07  2012      2   AAPL     61.318
('AAPL', 2012, 3)
         Date  Year  Month Symbol  Adj Close
81 2012-03-01  2012      3   AAPL     71.211
82 2012-03-02  2012      3   AAPL     71.304
84 2012-03-05  2012      3   AAPL     69.732
86 2012-03-06  2012      3   AAPL     69.352
89 2012-03-07  2012      3   AAPL     69.409
('AAPL', 2012, 4)
          Date  Year  Month Symbol  Adj Close
125 2012-04-02  2012      4   AAPL     80.910
126 2012-04-03  2012      4   AAPL     82.308
128 2012-04-04  2012      4   AAPL     81.653
130 2012-04-05  2012      4   AAPL     82.879
132 2012-04-09  2012      4   AAPL     83.212
('AAPL', 2012, 5)
          Date  Year  Month Symbol  Adj Close
165 2012-05-01  2012      5   AAPL     76.136
166 2012-05-02  2012      5   AAPL     76.640
169 2012-05-03  2012      5   AAPL     76.096
171 2012-05-04  2012      5   AAPL     73.929
173 2012-05-07  2012      5   AAPL     74.482
('AAPL', 2012, 6)
          Date  Year  Month Symbol  Adj Close
209 2012-06-01  2012      6   AAPL     73.372
211 2012-06-04  2012      6   AAPL     73.803
212 2012-06-05  2012      6   AAPL     73.612
214 2012-06-06  2012      6   AAPL     74.741
216 2012-06-07  2012      6   AAPL     74.775
('AAPL', 2012, 7)
          Date  Year  Month Symbol  Adj Close
250 2012-07-02  2012      7   AAPL     77.495
252 2012-07-03  2012      7   AAPL     78.396
254 2012-07-05  2012      7   AAPL     79.774
257 2012-07-06  2012      7   AAPL     79.243
259 2012-07-09  2012      7   AAPL     80.290
('AAPL', 2012, 8)
          Date  Year  Month Symbol  Adj Close
293 2012-08-01  2012      8   AAPL     79.364
295 2012-08-02  2012      8   AAPL     79.492
296 2012-08-03  2012      8   AAPL     80.527
298 2012-08-06  2012      8   AAPL     81.423
301 2012-08-07  2012      8   AAPL     81.208
('AAPL', 2012, 9)
          Date  Year  Month Symbol  Adj Close
338 2012-09-04  2012      9   AAPL     88.658
340 2012-09-05  2012      9   AAPL     88.035
343 2012-09-06  2012      9   AAPL     88.829
344 2012-09-07  2012      9   AAPL     89.376
347 2012-09-10  2012      9   AAPL     87.051
('AAPL', 2012, 10)
          Date  Year  Month Symbol  Adj Close
377 2012-10-01  2012     10   AAPL     86.611
379 2012-10-02  2012     10   AAPL     86.864
380 2012-10-03  2012     10   AAPL     88.196
382 2012-10-04  2012     10   AAPL     87.585
385 2012-10-05  2012     10   AAPL     85.718
('AAPL', 2012, 11)
          Date  Year  Month Symbol  Adj Close
419 2012-11-01  2012     11   AAPL     78.356
420 2012-11-02  2012     11   AAPL     75.763
423 2012-11-05  2012     11   AAPL     76.790
425 2012-11-06  2012     11   AAPL     76.558
427 2012-11-07  2012     11   AAPL     73.629
('AAPL', 2012, 12)
          Date  Year  Month Symbol  Adj Close
460 2012-12-03  2012     12   AAPL     77.348
463 2012-12-04  2012     12   AAPL     75.984
464 2012-12-05  2012     12   AAPL     71.094
466 2012-12-06  2012     12   AAPL     72.209
468 2012-12-07  2012     12   AAPL     70.363
('MSFT', 2012, 1)
        Date  Year  Month Symbol  Adj Close
0 2012-01-03  2012      1   MSFT     23.462
2 2012-01-04  2012      1   MSFT     24.014
4 2012-01-05  2012      1   MSFT     24.259
6 2012-01-06  2012      1   MSFT     24.636
8 2012-01-09  2012      1   MSFT     24.312
('MSFT', 2012, 2)
         Date  Year  Month Symbol  Adj Close
40 2012-02-01  2012      2   MSFT     26.196
42 2012-02-02  2012      2   MSFT     26.249
44 2012-02-03  2012      2   MSFT     26.503
47 2012-02-06  2012      2   MSFT     26.468
49 2012-02-07  2012      2   MSFT     26.599
('MSFT', 2012, 3)
         Date  Year  Month Symbol  Adj Close
80 2012-03-01  2012      3   MSFT     28.486
83 2012-03-02  2012      3   MSFT     28.301
85 2012-03-05  2012      3   MSFT     28.054
87 2012-03-06  2012      3   MSFT     27.842
88 2012-03-07  2012      3   MSFT     28.089
('MSFT', 2012, 4)
          Date  Year  Month Symbol  Adj Close
124 2012-04-02  2012      4   MSFT     28.486
127 2012-04-03  2012      4   MSFT     28.177
129 2012-04-04  2012      4   MSFT     27.533
131 2012-04-05  2012      4   MSFT     27.807
133 2012-04-09  2012      4   MSFT     27.436
('MSFT', 2012, 5)
          Date  Year  Month Symbol  Adj Close
164 2012-05-01  2012      5   MSFT     28.239
167 2012-05-02  2012      5   MSFT     28.054
168 2012-05-03  2012      5   MSFT     28.018
170 2012-05-04  2012      5   MSFT     27.330
172 2012-05-07  2012      5   MSFT     27.039
('MSFT', 2012, 6)
          Date  Year  Month Symbol  Adj Close
208 2012-06-01  2012      6   MSFT     25.263
210 2012-06-04  2012      6   MSFT     25.352
213 2012-06-05  2012      6   MSFT     25.316
215 2012-06-06  2012      6   MSFT     26.062
217 2012-06-07  2012      6   MSFT     25.956
('MSFT', 2012, 7)
          Date  Year  Month Symbol  Adj Close
251 2012-07-02  2012      7   MSFT     27.137
253 2012-07-03  2012      7   MSFT     27.314
255 2012-07-05  2012      7   MSFT     27.261
256 2012-07-06  2012      7   MSFT     26.808
258 2012-07-09  2012      7   MSFT     26.639
('MSFT', 2012, 8)
          Date  Year  Month Symbol  Adj Close
292 2012-08-01  2012      8   MSFT     26.115
294 2012-08-02  2012      8   MSFT     25.920
297 2012-08-03  2012      8   MSFT     26.417
299 2012-08-06  2012      8   MSFT     26.595
300 2012-08-07  2012      8   MSFT     26.870
('MSFT', 2012, 9)
          Date  Year  Month Symbol  Adj Close
339 2012-09-04  2012      9   MSFT     27.164
341 2012-09-05  2012      9   MSFT     27.164
342 2012-09-06  2012      9   MSFT     28.023
345 2012-09-07  2012      9   MSFT     27.665
346 2012-09-10  2012      9   MSFT     27.459
('MSFT', 2012, 10)
          Date  Year  Month Symbol  Adj Close
376 2012-10-01  2012     10   MSFT     26.360
378 2012-10-02  2012     10   MSFT     26.512
381 2012-10-03  2012     10   MSFT     26.691
383 2012-10-04  2012     10   MSFT     26.843
384 2012-10-05  2012     10   MSFT     26.682
('MSFT', 2012, 11)
          Date  Year  Month Symbol  Adj Close
418 2012-11-01  2012     11   MSFT     26.387
421 2012-11-02  2012     11   MSFT     26.369
422 2012-11-05  2012     11   MSFT     26.485
424 2012-11-06  2012     11   MSFT     26.691
426 2012-11-07  2012     11   MSFT     25.993
('MSFT', 2012, 12)
          Date  Year  Month Symbol  Adj Close
461 2012-12-03  2012     12   MSFT     23.819
462 2012-12-04  2012     12   MSFT     23.765
465 2012-12-05  2012     12   MSFT     24.035
467 2012-12-06  2012     12   MSFT     24.089
469 2012-12-07  2012     12   MSFT     23.846

In [51]:
# set the index of the data to be the following three fields
# we are creating a multiindex
mi = s4g.set_index(['Symbol', 'Year', 'Month'])
mi

                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03     23.462
AAPL   2012 1     2012-01-03     53.785
MSFT   2012 1     2012-01-04     24.014
AAPL   2012 1     2012-01-04     54.074
...                      ...        ...
            12    2012-12-27     67.963
MSFT   2012 12    2012-12-27     24.297
            12    2012-12-28     23.927
AAPL   2012 12    2012-12-28     67.241

[498 rows x 2 columns]

In [52]:
# now we can group based upon values in the actual index
# the following groups by level 0 of the index (Month)
mig_l1 = mi.groupby(level=0)
print_groups(mig_l1)

AAPL
                        Date  Adj Close
Symbol Year Month
AAPL   2012 1     2012-01-03     53.785
            1     2012-01-04     54.074
            1     2012-01-05     54.674
            1     2012-01-06     55.245
            1     2012-01-09     55.158
MSFT
                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03     23.462
            1     2012-01-04     24.014
            1     2012-01-05     24.259
            1     2012-01-06     24.636
            1     2012-01-09     24.312

In [53]:
# group by three levels in the index using their names
mig_l12 = mi.groupby(level=['Symbol', 'Year', 'Month'])
print_groups(mig_l12)

('AAPL', 2012, 1)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 1     2012-01-03     53.785
            1     2012-01-04     54.074
            1     2012-01-05     54.674
            1     2012-01-06     55.245
            1     2012-01-09     55.158
('AAPL', 2012, 2)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 2     2012-02-01     59.665
            2     2012-02-02     59.525
            2     2012-02-03     60.121
            2     2012-02-06     60.682
            2     2012-02-07     61.318
('AAPL', 2012, 3)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 3     2012-03-01     71.211
            3     2012-03-02     71.304
            3     2012-03-05     69.732
            3     2012-03-06     69.352
            3     2012-03-07     69.409
('AAPL', 2012, 4)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 4     2012-04-02     80.910
            4     2012-04-03     82.308
            4     2012-04-04     81.653
            4     2012-04-05     82.879
            4     2012-04-09     83.212
('AAPL', 2012, 5)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 5     2012-05-01     76.136
            5     2012-05-02     76.640
            5     2012-05-03     76.096
            5     2012-05-04     73.929
            5     2012-05-07     74.482
('AAPL', 2012, 6)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 6     2012-06-01     73.372
            6     2012-06-04     73.803
            6     2012-06-05     73.612
            6     2012-06-06     74.741
            6     2012-06-07     74.775
('AAPL', 2012, 7)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 7     2012-07-02     77.495
            7     2012-07-03     78.396
            7     2012-07-05     79.774
            7     2012-07-06     79.243
            7     2012-07-09     80.290
('AAPL', 2012, 8)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 8     2012-08-01     79.364
            8     2012-08-02     79.492
            8     2012-08-03     80.527
            8     2012-08-06     81.423
            8     2012-08-07     81.208
('AAPL', 2012, 9)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 9     2012-09-04     88.658
            9     2012-09-05     88.035
            9     2012-09-06     88.829
            9     2012-09-07     89.376
            9     2012-09-10     87.051
('AAPL', 2012, 10)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 10    2012-10-01     86.611
            10    2012-10-02     86.864
            10    2012-10-03     88.196
            10    2012-10-04     87.585
            10    2012-10-05     85.718
('AAPL', 2012, 11)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 11    2012-11-01     78.356
            11    2012-11-02     75.763
            11    2012-11-05     76.790
            11    2012-11-06     76.558
            11    2012-11-07     73.629
('AAPL', 2012, 12)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 12    2012-12-03     77.348
            12    2012-12-04     75.984
            12    2012-12-05     71.094
            12    2012-12-06     72.209
            12    2012-12-07     70.363
('MSFT', 2012, 1)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03     23.462
            1     2012-01-04     24.014
            1     2012-01-05     24.259
            1     2012-01-06     24.636
            1     2012-01-09     24.312
('MSFT', 2012, 2)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 2     2012-02-01     26.196
            2     2012-02-02     26.249
            2     2012-02-03     26.503
            2     2012-02-06     26.468
            2     2012-02-07     26.599
('MSFT', 2012, 3)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 3     2012-03-01     28.486
            3     2012-03-02     28.301
            3     2012-03-05     28.054
            3     2012-03-06     27.842
            3     2012-03-07     28.089
('MSFT', 2012, 4)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 4     2012-04-02     28.486
            4     2012-04-03     28.177
            4     2012-04-04     27.533
            4     2012-04-05     27.807
            4     2012-04-09     27.436
('MSFT', 2012, 5)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 5     2012-05-01     28.239
            5     2012-05-02     28.054
            5     2012-05-03     28.018
            5     2012-05-04     27.330
            5     2012-05-07     27.039
('MSFT', 2012, 6)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 6     2012-06-01     25.263
            6     2012-06-04     25.352
            6     2012-06-05     25.316
            6     2012-06-06     26.062
            6     2012-06-07     25.956
('MSFT', 2012, 7)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 7     2012-07-02     27.137
            7     2012-07-03     27.314
            7     2012-07-05     27.261
            7     2012-07-06     26.808
            7     2012-07-09     26.639
('MSFT', 2012, 8)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 8     2012-08-01     26.115
            8     2012-08-02     25.920
            8     2012-08-03     26.417
            8     2012-08-06     26.595
            8     2012-08-07     26.870
('MSFT', 2012, 9)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 9     2012-09-04     27.164
            9     2012-09-05     27.164
            9     2012-09-06     28.023
            9     2012-09-07     27.665
            9     2012-09-10     27.459
('MSFT', 2012, 10)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 10    2012-10-01     26.360
            10    2012-10-02     26.512
            10    2012-10-03     26.691
            10    2012-10-04     26.843
            10    2012-10-05     26.682
('MSFT', 2012, 11)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 11    2012-11-01     26.387
            11    2012-11-02     26.369
            11    2012-11-05     26.485
            11    2012-11-06     26.691
            11    2012-11-07     25.993
('MSFT', 2012, 12)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 12    2012-12-03     23.819
            12    2012-12-04     23.765
            12    2012-12-05     24.035
            12    2012-12-06     24.089
            12    2012-12-07     23.846

# Aggregation

In [54]:
# this will apply the mean function to each group
mig_l12.agg(np.mean)

                   Adj Close
Symbol Year Month
AAPL   2012 1         56.053
            2         65.077
            3         75.532
            4         79.259
...                      ...
MSFT   2012 9         27.515
            10        25.981
            11        24.983
            12        24.314

[24 rows x 1 columns]

In [55]:
# example of groupby that also ignores the index
# resulting in a default integer index
# this also has the mean function applied
s4g.groupby(['Symbol', 'Year', 'Month'], 
            as_index=False).agg(np.mean)[:5]

  Symbol  Year  Month  Adj Close
0   AAPL  2012      1     56.053
1   AAPL  2012      2     65.077
2   AAPL  2012      3     75.532
3   AAPL  2012      4     79.259
4   AAPL  2012      5     73.853

In [56]:
# apply multiple functions to each group in one call
mig_l12.agg([np.mean, np.std])

                  Adj Close
                       mean    std
Symbol Year Month
AAPL   2012 1        56.053  1.745
            2        65.077  3.465
            3        75.532  4.040
            4        79.259  2.973
...                     ...    ...
MSFT   2012 9        27.515  0.414
            10       25.981  0.640
            11       24.983  0.962
            12       24.314  0.350

[24 rows x 2 columns]